@import "./header.css";
@import "./setting.css";
@import "./slider.css";
@import "./wonderfull.css";
@import "./sale.css";
@import "./buy.css";
@import "./myclean.css";
@import "./bestseller.css";
@import "./latest.css";