.myclean {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  .myclean-center {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e0e0e2;
    border-radius: 16px;
    flex-direction: column;

    .myclean-center-top {
      width: 100%;
      height: 20%;
      padding: 0 20px;
      display: flex;
      justify-content: space-betweena;
      align-items: center;
      .title {
        display: flex;

        align-items: center;
        width: 100%;
        h1 {
          font-size: 21px;
        }
      }
      a {
        text-decoration: none;
        display: flex;
        font-size: 14px;
        color: #19bfd3;
        width: 77px;
        font-weight: bold;
      }
    }
    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .swiper-slide-item {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 12px 8px;
        gap: 20px;
        border-left: 1px solid #e0e0e2;
        img {
          width: 150px;
          height: 150px;
        }
        p {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          box-orient: vertical;
          -webkit-line-clamp: 2;
          line-clamp: 2;
          overflow: hidden;
          font-size: 14px;
          width: 90%;
          margin: 0 auto;
          font-family: Yekan;
          margin-bottom: 10px;
        }
        .price {
          width: 100%;
          height: 30px;
          display: flex;
          justify-content: space-between;
          flex-direction: row-reverse;
          padding: 0 10px;
          align-items: center;

          h3 {
            font-family: Nazanin;
            font-size: 15px;
            font-weight: bold;
            display: flex;
            align-items: center;
            .toman {
              width: 16px;
              height: 16px;
            }
          }
          h4 {
            font-family: Nazanin;
            font-size: 13px;
            font-weight: bold;
            padding: 5px 10px;
            background-color: #d82e4d;
            color: #ffffff;
            border-radius: 15px;
          }
        }
      }
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
