.wonderfull {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  .wonderful-center {
    width: 90%;
    height: 100%;
    background-color: #05af52;
    padding: 10px 10px 10px 0;
    box-sizing: border-box;
    border-radius: 16px;

    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      .swiper-slide-item {
        width: 100%;
        height: 100%;
        padding: 10px;
        box-sizing: border-box;
        background-color: #05af52;
        .image1 {
          width: 120px;
          height: 120px;
          display: block;
          margin: 5px auto;
        }

        .image2 {
          width: 120px;
          height: 120px;
          display: block;
          margin: 15px auto;
        }
        a {
          text-decoration: none;
          font-family: Yekan;
          font-size: 12px;
          color: #ffffff;
          font-weight: bold;
          border: 1px solid #ffffff;
          padding: 8px 16px;
          border-radius: 8px;
          font-weight: bold;
        }
      }
      .swiper-slide-product {
        height: 95%;
        width: 100%;
        padding-top: 10px;
        box-sizing: border-box;
        background-color: #ffffff;
        .she {
          width: 116px;
          height: 14px;
          position: relative;
          right: 0;
        }
        img {
          width: 132px;
          height: 132px;
          display: block;
          margin: 10px auto;
        }
        p {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          box-orient: vertical;
          -webkit-line-clamp: 2;
          line-clamp: 2;
          overflow: hidden;
          font-size: 11px;
          width: 70%;
          margin: 0 auto;
          font-family: Yekan;
          margin-bottom: 10px;
        }
        .discount {
          width: 100%;
          height: 30px;
          display: flex;
          justify-content: space-between;
          flex-direction: row-reverse;
          padding: 0 10px;
          align-items: center;
          margin-top: 40px;
          h3 {
            font-family: Nazanin;
            font-size: 15px;
            font-weight: bold;
            display: flex;
            align-items: center;
            .toman {
              width: 16px;
              height: 16px;
            }
          }
          h4 {
            font-family: Nazanin;
            font-size: 13px;
            font-weight: bold;
            padding: 5px 10px;
            background-color: #d82e4d;
            color: #ffffff;
            border-radius: 15px;
          }
        }
        .former-price {
          color: #bfc2c5;
          text-decoration: line-through;
          font-family: Nazanin;
          text-align: left;
          padding-left: 25px;
          box-sizing: border-box;
          font-size: 14px;
          font-weight: bold;
        }
        .clock {
          width: 90;
          height: 26px;
          position: absolute;
          bottom: 10px;
          left: 40px;
          transform: translateX(-50%) translateY(-50%);
          color: red;
          font-size: 13px;

          letter-spacing: 7px;
          font-family: Nazanin;
        }
      }
      .more {
        height: 95%;
        width: 100%;
        padding-top: 10px;
        box-sizing: border-box;
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .circle {
          width: 52px;
          height: 52px;
          border: 2px solid #17bfd3;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          .flash {
            display: block;
            color: #17bfd3;
            width: 32px;
            height: 32px;
          }
        }
        a {
          display: block;
          text-decoration: none;
          width: 100px;
          height: 30px;
          margin-top: 10px;
          font-size: 15px;
          font-family: Yekan;
          color: #0d0d12;
        }
      }
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
