.footer {
  width: 100%;
  height: fit-content;
  margin-top: 100px;
  .footer-center {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    .footer-center-top {
      display: flex;
      max-height: 3500px;
      justify-content: space-evenly;
      padding: 50px;
      box-sizing: border-box;
      .footer-center-right {
        display: flex;
        width: 50%;
        margin-left: 30px;
        position: relative;

        .p {
          height: fit-content;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          box-orient: vertical;
          -webkit-line-clamp: 4;
          line-clamp: 4;
          overflow: hidden;
          font-size: 12px;
          color: #757575;
          margin: 0 auto;
          font-family: Yekan;
          margin-bottom: 10px;
          gap: 4px;

          b {
            font-size: 20px;
            color: #737373;
          }
        }
        .p.expanded {
          height: 3500px;
          overflow: visible;
        }
        .aa {
          display: block;
          position: absolute;
          right: 0;
          bottom: -30px;
          font-weight: bold;
          text-decoration: none;
          width: 100px;
          height: 30px;

          font-size: 15px;
          font-family: Yekan;
          color: #17bfd3;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      .footer-center-left {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        width: 50%;
        align-content: start;
        .item {
          display: flex;
          gap: 10px;
          flex-flow: row wrap;
          img {
            width: 90px;
            height: 90px;
            border-radius: 8px;
            object-fit: contain;
            border: 1px solid #e5e5e5;
            background-color: #fafafa;
          }
        }
      }
    }
    .footer-center-bottom {
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-top: 1px solid #e5e5e5;
      width: 100%;
      .footer-center-bottom-top {
        font-family: Yekan;
        margin: 20px auto;
        font-size: 14px;
        opacity: 0.6;
      }
      .footer-center-bottom-bottom {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, 1fr);
        overflow: hidden;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 170px;
        background-color: #F0F0F1;
        .item-bottom {
          display: flex;
          max-width: 180px;
          flex-flow: row wrap;
          height: 85px;
          gap: 10px;
          border: 0.2px solid #737373;
          justify-content: center;
          align-content: center;
          img {
            display: block;
            width: 85px;
            height: 20px;
         
            
            
          }
        }
      }
    }
  }
}
