

.submenu {
  width: 100%;
  height: 100vh;
  background-color: white;
  box-shadow: 0 0 25px #2b2b2b;
  position: absolute;

  display: grid;
  transition: 300ms;

  .submenu-right {
    width: 17%;
    height: 100%;
    background-color: #f0f0f1;
    display: grid;
    grid-auto-rows: auto;
    align-content: start;
    overflow: scroll;
    .submenu-right-item {
      width: 100%;
      height: 50px;
      text-align: start;
      overflow: scroll;
      a {
        display: block;
        width: 100%;
        height: 100%;
        text-decoration: none;
        font-family: Yekan;

        color: #2b2b2b;
        font-size: 12px;
        line-height: 40px;
        transition: 100ms;

        &:hover {
          background-color: whitesmoke;
          color: red;
        }
        i {
          margin-left: 10px;
        }
      }
      .submenu-right-item-submenu {
        width: 83%;
        height: 100%;
        background-color: #ffffff;
        position: absolute;
        left: 0;
        bottom: 0;
        display: none;
        gap: 10px;

        .all {
          color: #17bfd3;
          display: block;
        }
        a {
          display: block;
          text-align: start;
          color: #424750;
          font-size: 12px;
          h2 {
            border-right: 4px solid red;
            opacity: 1;
            font-size: 15px;
          }
        }
      }
      &:hover .submenu-right-item-submenu {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(10, 1fr);

        overflow: scroll;
      }
    }
  }
}
.back{
    display: none;
}
