.bottom {
  width: 100%;
  height: 70px;
  position: sticky;
  bottom: 0;
  z-index: 100;

  .bottom-center {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e0e0e0;
    background-color: rgb(254, 135, 175);
    z-index: 100;
    .bottom-center-itemm {
      width: 20%;
      display: flex;
      flex-direction: column;

      justify-content: center;
      align-items: center;
      a {
        text-decoration: none;
        text-align: center;
        color: #2b2b2b;
        opacity: 0.5;
      }
      &:hover a {
        opacity: 1;
      }

      &:hover {
        animation: forwards;
        animation-duration: 1s;
        animation-name: myAnimation;
      }
    }

    .bottom-center-item {
      width: 20%;
      display: flex;
      flex-direction: column;

      justify-content: center;
      align-items: center;
      a {
        text-decoration: none;
        text-align: center;
        color: #2b2b2b;
        opacity: 0.5;
      }
      &:hover a {
        opacity: 1;
      }

      &:hover {
        animation: forwards;
        animation-duration: 1s;
        animation-name: myAnimation;
      }
    }
  }
}
@keyframes myAnimation {
  25% {
    border: 5px solid rgb(240, 192, 236);
  }
  50% {
    border: 5px solid powderblue;
  }
  100% {
    border: 5px solid plum;
  }
}
