.category {
  width: 100%;
  height: 170px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  .category-center {
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: center;
    column-gap: 25px;

    .category-item {
      width: fit-content;
      height: 100%;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      margin-top: 30px;
      img {
        width: 45px;
        height: 45px;
        display: block;
        margin: 0 auto;
      }
      p {
        width: 60%;
        font-size: 10px;
        font-weight: bold;
        font-family: Yekan;
        margin: 10px auto;
      }
    }
    .category-itemm {
      width: fit-content;
      height: 100%;
      display: none;
      flex-direction: column;
      box-sizing: border-box;
      margin-top: 30px;
      img {
        width: 52px;
        height: 52px;
        display: block;
        margin: 0 auto;
      }
      p {
        width: 60%;
        font-size: 12px;
        font-weight: bold;
        font-family: Yekan;
        margin: 10px auto;
      }
    }
    .akhari {
      .circle {
        width: 50px;
        height: 50px;
        background-color: #f0f0f1;
        margin-top: 30px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 2px;
        margin-bottom: 10px;
        .category-item-circle {
          width: 5px;
          height: 5px;
          background-color: #a0a3a8;
          border-radius: 50%;
        }
        p {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 60%;
          font-size: 12px;
          font-weight: bold;
          font-family: Yekan;
          margin: 10px auto;
          padding-right: 20px;
        }
      }
    }
  }
}
