.footer {
  width: 100%;
  height: 600px;
  display: flex;

  .footer-center {
    width: 90%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    margin: 50px auto;
    .footer-center-right:nth-of-type(1) {
      display: grid;
      grid-template-rows: repeat(2, auto);
      justify-items: center;
      align-items: center;
      h2 {
        font-size: 20px;
        margin-right: 20px;
        opacity: 0.7;
      }
      p {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        box-orient: vertical;
        -webkit-line-clamp: 4;
        line-clamp: 4;
        overflow: hidden;
        font-size: 14px;
        
        margin: 0 auto;
        font-family: Yekan;
        margin-bottom: 10px;
      }
    }
    .footer-center-left:nth-of-type(2) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, auto);
      
      align-content: center;
      width: 50%;
      gap: 10px;

      img {
        width: 90px;
        height: 90px;
        box-shadow: 0 3px 4px #2b2b2b;
        border-radius: 6px;
      }
    }
  }
}
