.supermarket-wonderfull {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  .supermarket-wonderfull-center {
    width: 95%;
    height: 100%;
    background-color: #7FBD36;
    padding: 10px 10px 10px 0;
    box-sizing: border-box;
    border-radius: 16px;

    .supermarket-wonderfull-center-right {
      width: 100%;
      height: 20%;

      display: flex;
      align-items: center;
      column-gap: 20px;
      position: relative;
      top: 0px;

      span {
        height: 30px;
        width: 120px;
        background-color: #009a49;
        padding: 0 10px;
        border-radius: 16px;
        line-height: 30px;
        color: #ffffff;
        overflow: hidden;
      }
    }
    .swiper {
      width: 100%;
      height: 80%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;

      .product {
        width: 100%;
        height: 100%;
        padding: 10px;
        box-sizing: border-box;
        background-color: #ffffff;
        border-radius: 16px;
        img {
          width: 120px;
          height: 120px;
          display: block;
          margin: 5px auto;
        }

        h4 {
          display: none;
          background-color: #d32f2f;
          padding: 5px;
          border-radius: 16px;
          color: white;
          width: 34px;
          height: 20px;
          font-size: 14px;
          font-weight: bold;
          z-index: 99;
          font-family: Nazanin;
          margin: 0 -75px -60px 0;
        }
        p {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          box-orient: vertical;
          -webkit-line-clamp: 2;
          line-clamp: 2;
          overflow: hidden;
          font-size: 11px;
          width: 70%;
          margin: 0 auto;
          font-family: Yekan;
          margin-bottom: 10px;
        }
        .discount {
          width: 100%;
          height: 30px;
          display: flex;
          justify-content: space-between;
          flex-direction: column-reverse;
          padding: 0 10px;
          align-items: center;
          margin-top: 40px;
          h3 {
            font-family: Nazanin;
            font-size: 15px;
            font-weight: bold;
            display: flex;
            align-items: center;
            margin-right: 60px;
            .toman {
              width: 16px;
              height: 16px;
            }
          }
          h4 {
            display: inline-block;
            margin-top: 10px;
            font-family: Nazanin;
            font-size: 13px;
            font-weight: bold;
            padding: 5px 10px;
            background-color: #d82e4d;
            color: #ffffff;
            border-radius: 15px;
          }
        }
        .former-price {
          color: #bfc2c5;
          text-decoration: line-through;
          font-family: Nazanin;
          text-align: left;
          padding-left: 25px;
          box-sizing: border-box;
          font-size: 14px;
          font-weight: bold;
          margin-top: 20px;
        }
      }
    }
    .more {
      width: 100%;
      height: 100%;
      padding: 10px;
      box-sizing: border-box;
      background-color: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
      a {
        font-size: 12px;
        font-family: Yekan;
        text-decoration: none;
        color: #009a49;
        background-color: #ffffff;
        padding: 20px;
        box-sizing: border-box;
      }
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

