.supermarket {
  display: flex;
  label[for="supermarket"] {
    display: flex;

    justify-content: center;
    width: 130px;
    height: 52px;
    border-radius: 40px;
    background-color: #009a49;
    position: fixed;
    bottom: 90px;
    left: 20px;
    z-index: 99;
    direction: ltr;
    line-height: 52px;
    gap: 10px;
    span {
      color: white;

      font-size: 16px;
      text-decoration: none;
    }
    img {
      display: flex;
      margin-top: 10px;
      width: 30px;
      height: 30px;
    }
  }
  #supermarket,
  #close {
    display: none;
  }
  .cover {
    width: 100vw;
    height: 100vh;
    background-color: rgb(27, 26, 26, 0.7);
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    z-index: 100;
  }
  .supermarket {
    width: 450px;
    height: 350px;
    background-color: white;
    position: absolute;
    border: 1px solid #2b2b2b;
    border-radius: 10px;
    opacity: 1;
    left: calc(50% - 225px);
    top: calc(50% - 175px);
    border: 1px solid #2b2b2b;
    border-radius: 10px;
    flex-direction: column;
    z-index: 100;
    h3{
        font-size: 16px;
        padding: 20px;
        margin-right: 20px;
    }
    .ax{
        display: flex;
        gap: 10px;
        padding: 20px;
        box-sizing: border-box;
        
        .ax1{
            width: 50%;
            height: 250px;
            background-color: #FEEBDE;
            border-radius: 12px;
            a{
                text-decoration: none;
                color: #2b2b2b;
                
                h2{
                    font-size: 16px;
                    margin: 12px 12px 0 0;
                }
            }
            span{
                display: block;
                width: 106px;
                height: 26px;
                background-color: #FF8042;
                border-radius:  30px 0 30px 30px ;
                margin-top: 20px;
                color: white;
                text-align: center;
                padding-left: 12px;
            }
            img{
                width: 130px;
                height: 130px;
                display: block;
                margin: 20px 70px 00;
            }

        }
        .ax2{
            width: 50%;
            height: 250px;
            background-color: #DBF3E6;
            border-radius: 12px;
            a{
                text-decoration: none;
                color: #2b2b2b;
                
                h2{
                    font-size: 16px;
                    margin: 12px 12px 0 0;
                }
            }
            span{
                display: block;
                width: 106px;
                height: 26px;
                background-color: #009A49;
                border-radius:  30px 0 30px 30px ;
                margin-top: 20px;
                color: white;
                text-align: center;
                padding-left: 12px;
            }
            img{
                width: 130px;
                height: 130px;
                display: block;
                margin: 20px 70px 00;
            }

        }
    }
  }
  #supermarket:checked ~ .cover {
    display: block;
  }

  label[for="close"] {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: rgb(12, 12, 12);
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    line-height: 30px;
    font-size: 30px;
    color: whitesmoke;
    cursor: pointer;
    
  }
  #close:checked ~ .cover {
    display: none !important;
  }
}
