* {
  margin: 0;
  padding: 0;
  direction: rtl;
}
@font-face {
  font-family: Yekan;
  src: url(../fonts/farsi/BYekan+.ttf);
}
.login {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
  .login-center {
    width: 400px;
    height: 380px;
    display: flex;
    border: 1px solid #e0e0e2;
    border-radius: 16px;
    padding: 32px;
    gap: 100px;
    box-sizing: border-box;
    flex-direction: column;
    gap: 20px;
    .login-center-top {
      display: flex;
      gap: 80px;
      height: 50px;
      .logo {
        width: 120px;
        height: 20px;
      }
    }
    .login-center-middle {
      display: flex;
      flex-direction: column;
      gap: 10px;
      h2 {
        font-size: 17px;
        color: #1f1f1f;
        font-family: Yekan;
      }
      span {
        font-size: 12px;
        color: #848484;
        font-family: Yekan;
      }
      .email {
        direction: ltr;
        display: flex;
        gap: 5px;
        flex-direction: column;
        
        .login-email {
          width: 334px;
          height: 48px;
          border: 1px solid #e0e0e2;
          color: #848484;
          font-size: 15px;
          border-radius: 8px;
          caret-color: palevioletred;
          font-family: Yekan;
          
        }
        .label {
          width: 334px;
          height: 48px;
          background-color: #EF4056;
          color: white;
          direction: rtl;
          text-align: center;
          line-height: 50px;
          font-size: 18px;
          border: none;
          border-radius: 8px;
          font-family: Yekan;
          margin-top: 16px;
        }
        
      }
      .ak{
        font-size: 12px;
        font-family: Yekan;
        color: #848484;
        margin: 20px auto;
      }
    }
  }
}
