* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: Yekan;
  src: url(../fonts/farsi/BYekan+.ttf);
}
@font-face {
  font-family: Nazanin;
  src: url(../fonts/farsi/B-NAZANIN\ copy.TTF);
}
html,
body {
  font-family: Yekan;
  direction: rtl;
  scroll-behavior: smooth;
}
.wrapper {
  width: 100%;
}
.swiper-button-prev & .swiper-button-prev, .swiper-rtl .swiper-button-next{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
}
.swiper-button-prev, .swiper-button-next{
  svg{
    width: 40px;
    height: 20px;
    font-weight: bold;
    color: palevioletred;
  }
  .swiper-button-disabled{
    opacity: 0 !important;
  }
}