.digital {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  .digital-center {
    width: 90%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    border: 1px solid #e0e0e2;
    border-radius: 16px;
    .digital-center-item {
      width: 25%;
      height: 100%;
      border-left: 1px solid #e0e0e2;
      .digital-center-item-top {
        padding-top: 10px;
        padding-right: 10px;
        box-sizing: border-box;
        margin-bottom: 10px;
        h2 {
          font-size: 16px;
          font-weight: bold;
          margin-bottom: 10px;
        }
        p {
          font-size: 11px;
          color: #a2a4a7;
        }
      }
      .digital-center-item-center {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        gap: 1px;
        div {
          width: 45%;
          display: flex;
          justify-content: center;
          img {
            width: 130px;
            height: 130px;
          }
        }
      }
      .digital-center-item-bottom {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        a {
          font-size: 12px;
          color: #17bfd3;
          text-decoration: none;
          font-weight: bold;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
    .digital-center-item2 {
      width: 25%;
      height: 100%;
      border-left: 1px solid #e0e0e2;
      .digital-center-item-top {
        padding-top: 10px;
        padding-right: 10px;
        box-sizing: border-box;
        margin-bottom: 10px;
        h2 {
          font-size: 16px;
          font-weight: bold;
          margin-bottom: 10px;
        }
        p {
          font-size: 11px;
          color: #a2a4a7;
        }
      }
      .digital-center-item-center {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        gap: 1px;
        div {
          width: 45%;
          display: flex;
          justify-content: center;
          img {
            width: 130px;
            height: 130px;
          }
        }
      }
      .digital-center-item-bottom {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        a {
          font-size: 12px;
          color: #17bfd3;
          text-decoration: none;
          font-weight: bold;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
    .digital-center-item3 {
      display: flex;
      flex-direction: column;
      width: 25%;
      height: 100%;
      border-left: 1px solid #e0e0e2;
      .digital-center-item-top {
        padding-top: 10px;
        padding-right: 10px;
        box-sizing: border-box;
        margin-bottom: 10px;
        h2 {
          font-size: 16px;
          font-weight: bold;
          margin-bottom: 10px;
        }
        p {
          font-size: 11px;
          color: #a2a4a7;
        }
      }
      .digital-center-item-center {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        gap: 1px;
        div {
          width: 45%;
          display: flex;
          justify-content: center;
          img {
            width: 130px;
            height: 130px;
          }
        }
      }
      .digital-center-item-bottom {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        a {
          font-size: 12px;
          color: #17bfd3;
          text-decoration: none;
          font-weight: bold;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
    .digital-center-item4 {
      display: flex;
      flex-direction: column;
      width: 25%;
      height: 100%;
      border-left: 1px solid #e0e0e2;
      .digital-center-item-top {
        padding-top: 10px;
        padding-right: 10px;
        box-sizing: border-box;
        margin-bottom: 10px;
        h2 {
          font-size: 16px;
          font-weight: bold;
          margin-bottom: 10px;
        }
        p {
          font-size: 11px;
          color: #a2a4a7;
        }
      }
      .digital-center-item-center {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        gap: 1px;
        div {
          width: 45%;
          display: flex;
          justify-content: center;
          img {
            width: 130px;
            height: 130px;
          }
        }
      }
      .digital-center-item-bottom {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        a {
          font-size: 12px;
          color: #17bfd3;
          text-decoration: none;
          font-weight: bold;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}
.border-left{
    border-left: 1px solid #e0e0e2;
}
.border-bottom{
    border-bottom: 1px solid #e0e0e2;
}