.footer {
  width: 100%;
  height: 600px;
  display: flex;
  
  .footer-center {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: ;
    justify-content: space-between;
    align-items: center;
    .footer-center-right {
      display: flex;

      flex-direction: column;
      width: 60%;
      gap: 5px;
      justify-content: center;
      align-items: center;
      h1 {
        font-size: 20px;
        margin-right: 20px;
        opacity: 0.7;
      }
      p {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        box-orient: vertical;
        -webkit-line-clamp: 4;
        line-clamp: 4;
        overflow: hidden;
        font-size: 14px;
        width: 70%;
        margin: 0 auto;
        font-family: Yekan;
        margin-bottom: 10px;
      }
    }
    .footer-center-left{
        display: flex;
        gap: 10px;
        
        img{
            width: 100px;
            height: 100px;
            box-shadow:0 5px 6px #2b2b2b;
            border-radius: 6px;

        }
    }
    .footer-center-bottom{

    }
  }
}
