.supermarket-wonderfull {
  width: 100%;
  height: 110px;
  margin: 15px 0;
  display: flex;
  justify-content: center;
  .supermarket-wonderfull-center {
    width: 95%;
    height: 100%;
    background-color: #ebeeee;
    border-radius: 16px;
    display: flex;
    .supermarket-wonderfull-center-right {
      width: 45%;
      height: 100%;
      margin-right: 50px;
      display: flex;
      align-items: center;
      column-gap: 20px;
      margin-left: 80px;
      span {
        height: 30px;
        width: 120px;
        background-color: #009a49;
        padding: 0 10px;
        border-radius: 16px;
        line-height: 30px;
        color: #ffffff;
        overflow: hidden;
      }
    }
    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      width: 100px;
      height: 100%;
      display: flex;
      align-items: center;

      .product {
        width: 74px;
        width: 74px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ebeeee;
        border-radius: 50%;

        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          z-index: 1;
        }

        h4 {
          background-color: #d32f2f;
          padding: 5px;
          border-radius: 16px;
          color: white;
          width: 34px;
          height: 20px;
          font-size: 14px;
          font-weight: bold;
          z-index: 99;
          font-family: Nazanin;
          margin: 0 -75px -60px 0;
        }
        p {
          display: none !important;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          box-orient: vertical;
          -webkit-line-clamp: 2;
          line-clamp: 2;
          overflow: hidden;
          font-size: 11px;
          width: 70%;
          margin: 0 auto;
          font-family: Yekan;
          margin-bottom: 10px;
        }
        .discount {
          width: 100%;
          height: 30px;
          display: none !important;
          justify-content: space-between;
          flex-direction: row-reverse;
          padding: 0 10px;
          align-items: center;
          margin-top: 40px;
          h3 {
            font-family: Nazanin;
            font-size: 15px;
            font-weight: bold;
            display: flex;
            align-items: center;
            .toman {
              width: 16px;
              height: 16px;
            }
          }
        }
        .former-price {
          color: #bfc2c5;
          text-decoration: line-through;
          font-family: Nazanin;
          text-align: left;
          padding-left: 25px;
          box-sizing: border-box;
          font-size: 14px;
          font-weight: bold;
          display: none;
        }
      }
    }
    .more {
      
      width: fit-content;
      height: 40px;
      margin-right: 100px;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
      background-color: #ebeeee;
      a {
        font-size: 12px;
        font-family: Yekan;
        text-decoration: none;
        color: #009a49;
        background-color: #ffffff;
        padding: 20px;
        box-sizing: border-box;
        position: relative;
        left: 0;
        bottom: 10px;
      }
    }
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
      width: 140px;
      height: 40px;
      font-size: 12px;
      font-family: Yekan;
      text-decoration: none;
      color: #009a49;
      background-color: #ffffff;
      padding: 20px;
      box-sizing: border-box;
      margin-top: 30px;
      position: absolute;
      
      left: 30px;
      
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

