.readable {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;

  .readable-center {
    width: 90%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .readable-center-top {
      width: 100%;
      height: 60px;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      h2 {
        font-size: 20px;
        margin-right: 30px;
      }
      a {
        font-size: 14px;
        color: #17bfd3;
        text-decoration: none;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .readale-center-bottom {
      width: 100%;
      height: fit-content;
      display: flex;
      flex-flow: row wrap;
      flex-direction: row;
      gap: 10px;
      justify-content: center;
      align-items: center;
      .readable-center-bottom-card {
        display: flex;
        flex-direction: column;
        flex-flow: column wrap;
        gap: 10px;
        border: 1px solid #5d0d54;
        border-radius: 16px;
        height: 260px;
        img {
          width: 270px;
          border-radius: 16px;
        }
        span {
          font-size: 13px;
          margin: 0 auto;
        }
      }
    }
  }
}
